[Unit]
Description=Copyparty file server.
After=network.target

[Service]
ExecStart=/usr/bin/python3 {{ copyparty__cfg._app }} -c {{ copyparty__cfg._cfg }}
Type=notify
Restart=always
ExecReload=/bin/kill -s USR1 $MAINPID
User={{ copyparty__srv._user }}
Group={{ copyparty__srv._group }}
{% for var, value in copyparty__srv._env %}
Environment="{{ var }}={{ value}}"
{% endfor %}
SyslogIdentifier=copyparty
WorkingDirectory={{ copyparty__cfg._var_dir }}
# Rootless <1024 port binding.
AmbientCapabilities=CAP_NET_BIND_SERVICE
ProtectClock=true
ProtectControl_groups=true
ProtectHostname=true
ProtectKernel_logs=true
ProtectKernel_modules=true
ProtectKernel_tunables=true
ProtectProc=invisible
RemoveIPC=true
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
MemoryMax=50%
MemorySwapMax=50%

[Install]
WantedBy=multi-user.target
